<div class="footer-content">
    <div class="row">
        <div class="col-md-4">
            <h4>JFITNESS</h4>
            <p>hhh</p>
            <p>hhh</p>
            <p>hhh</p>
        </div>
        <div class="col-md-4">
            <h4>PRODUCTS</h4>
            <p>hhh</p>
            <p>hhh</p>
            <p>hhh</p>
        </div>
        <div class="col-md-4">
            <h4>CUSTOMER SERVICES</h4>
            <p>hhh</p>
            <p>hhh</p>
            <p>hhh</p>
        </div>
    </div>
    <div class="border-line"></div>
    <p>Developed by <a href="https://jeremyolu.com"><span class="highlight">JO</span></a></p>
</div>