<div class="header-content">
   <div class="header-inner">
      <h1 class="header-heading"> {{ title }}</h1>
      <h2 class="header-sub-heading">UP TO <span class="highlight">50% OFF</span> ON SELECTED ITEMS</h2>
      <h3 class="header-tag-heading">IT'S GO TIME, SHOP NOW & <span class="highlight">GET FIT!</span></h3>
      <!--
      <button type="button">SHOP NOW <i class="fa fa-long-arrow-right"></i></button>
      -->
      <app-button [title]="titleBtn" [styleClass]="styleBtn" (btnClick)="testFunction()"></app-button>
   </div>
</div>