.main-nav-content {
    background: rgba(0,0,0,0.2);
}

a.navbar-brand {
    font-size: 25px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
}

a.navbar-brand a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.main-nav-content-links a.nav-link {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF ;
}

.main-nav-content-links li {
    padding: 5px;
}

.main-nav-content-links a:hover {
    color: #FFF000;
}

i.search-btn, i.shopping-cart-btn, #basket-btn-link {
    cursor: pointer;
}

.mobile-nav-btn {
    font-size: 20px;
    display: none;
}

.mobile-nav-btn i.fa-bars {
    color: #FFFFFF;
}

.offcanvas-header, .offcanvas-body {
    background-color: #000000;
    color: #FFFFFF;
}

.offcanvas-header {
    border: none;
}

.menu-btn-close {
    font-size: 20px;
    cursor: pointer;
    float: right;
}

ul.mobile-nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.mobile-nav-link a {
    font-size: 20px;
    display: block;
    color: #FFFFFF;
    padding: 12px 3px;
    text-decoration: none;
}

li.mobile-nav-link a:hover {
    color: #FFF000;
}

/*Responsive styles*/

@media screen and (max-width: 991px) {

    .mobile-nav-btn {
        display: block;
    }
}
