* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Squada One', cursive;
}

.highlight {
    color: #FFFF00;
}

.border-line {
    background-color: #FFFF00;
    width: 200px;
    height: 2px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}